In [5]:
name = "rizki"
address,province = "jl.caringin","7413412"
age = 19
scorePython = 90.7
isMarried = False


print ("Nama :" ,name)
print ("Alamat :" ,address)
print ("Umur :" ,age)
print ("Nilai pemrograman :",scorePython)
print ("Status Menikah"  , isMarried)
print ("propinsi :" , province)

Nama : rizki
Alamat : jl.caringin
Umur : 19
Nilai pemrograman : 90.7
Status Menikah False
propinsi : 7413412

In [3]:
print ("Tipe data <name> :" , type(name))
print ("Tipe data <address>" , type(address))
print ("Tipe data <age>" ,type(age))
print ("Tipe data <scorePython> :" ,type(scorePython))
print ("Tipe data <isMarried> :" ,type(isMarried))

Tipe data <name> : <class 'str'>
Tipe data <address> <class 'str'>
Tipe data <age> <class 'int'>
Tipe data <scorePython> : <class 'float'>
Tipe data <isMarried> : <class 'bool'>

In [18]:
#Casting / KOnversi Tipe Data
#1. String ke (int,float,boolean)
strToInt = int (province)
strToFLoat = float (province)
strToBool = bool (province)
print(strToInt + 2,strToFLoat,strToBool, sep="-")

#2. Int ke (str,float,boolean)
intToStr = str (age)
intToFloat = float (age)
intToBool = bool (age)
print (intToStr, intToFloat, intToBool, sep="-")

#3. float ke (int, str, boolean)
floatToStr = str (scorePython)
floatToInt = int (scorePython)
floatToBool = bool (scorePython)
print (floatToStr, floatToInt,floatToBool, sep="-")

#4. Bool ke (int, str, boolean)
boolToStr =str(isMarried)
boolToInt =int (isMarried)
boolToFloat = float (isMarried)
print (boolToStr, boolToInt, boolToFloat, sep="-")

7413414-7413412.0-True
19-19.0-True
90.7-90-True
False-0-0.0

In [7]:
#Tipe data basis bilangan (desimal,biner,octal, hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print ("Nilai desimal :",desimal)
print (" Nilai biner :",biner)
print (" Nilai octal :",octal)
print (" Nilai hexa :",hexa)

print ("Nilai biner dari",desimal, ":" ,bin(desimal))
print ("Nilai octal dari",desimal, ":" ,oct(desimal))
print ("Nilai hexa dari",desimal, ":" ,hex(desimal))

Nilai desimal : 500
 Nilai biner : 10
 Nilai octal : 255
 Nilai hexa : 255
Nilai biner dari 500 : 0b111110100
Nilai octal dari 500 : 0o764
Nilai hexa dari 500 : 0x1f4

In [8]:
city = "BANDUNG"
length = len(city)
print (city[0])
print (length)
print (city[length-1])

B
7
G

In [28]:
#Tipe data Collection
cities =["bandung","Sukabumi","Bogor","Jakarta","medan"]
lengthCities = len(cities)
print (cities)
print (cities[0])
print (cities[lengthCities-1])
print (cities[lengthCities-1][0])
print (cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities [0] = "Bali"
#cities[5] = "Malang" akan menyebabkan eror out of range
print (cities)

names = ("rizki","nisya","love")
print (names)
print (names[1])
#names[0] = "Dedi" error immutable tuple

studentData = {
    "name" : "Rizki",
    "age": 20,
    "address" : {
        "street" : "caringin",
        "number" : 12,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" : ["Basket Ball", "Football"]
    

}
{
    "name" : "Dedi",
    "age" : 15,
    "address" : {
        "street" : "Bogor",
        "number" : 29,
        "province" : "Jawa Barat"
    },
    "isMarried" : False,
    "hobbies" : ["Chess", "Singing"]
}



print (studentData)
print (studentData["age"])
print (studentData["address"]["province"])
print (studentData["hobbies"][0])

['bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'medan']
bandung
medan
m
n
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'medan']
('rizki', 'nisya', 'love')
nisya
{'name': 'Rizki', 'age': 20, 'address': {'street': 'caringin', 'number': 12, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket Ball', 'Football']}
20
Jawa Barat
Basket Ball

In [25]:
#Konversi dictionary

list_list =[["name","andi"],["age", 30],["Status", True]]
dictListStudent = dict (list_list)
print (dictListStudent)

list_tuple = [("Name","Rudi"),("Address","Bogor")]
dictTupleStudent = dict (list_tuple)
print (dictTupleStudent)

tuple_list = (["name","tiger"],["Type","Mamalia"])
dictListAnimal = dict (tuple_list)
print (dictListAnimal)

tuple_tuple = (("name", "Crocodile"), ("type", "Reptile"))
dictTupAnimal = dict(tuple_tuple)
print (dictTupAnimal)

keys = [ "vehicle","Brand" ,"cc"]
values = ["car","BMW", "2500"]
car = dict(zip(keys,values))
print(car)

{'name': 'andi', 'age': 30, 'Status': True}
{'Name': 'Rudi', 'Address': 'Bogor'}
{'name': 'tiger', 'Type': 'Mamalia'}
{'name': 'Crocodile', 'type': 'Reptile'}
{'vehicle': 'car', 'Brand': 'BMW', 'cc': '2500'}